Farma2.pe/Farma.pe/Farma.pe/Service References/FarmaciaService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioFarma" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioFarma" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMEDICAMENTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MEDICAMENTO" nillable="true" type="tns:MEDICAMENTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMEDICAMENTO" nillable="true" type="tns:ArrayOfMEDICAMENTO" />
  <xs:complexType name="MEDICAMENTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADVERTENCIA" nillable="true" type="tns:ADVERTENCIA" />
      <xs:element minOccurs="0" name="CON_MED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAVORITO" nillable="true" type="tns:ArrayOfFAVORITO" />
      <xs:element minOccurs="0" name="FORMA_USO" nillable="true" type="tns:FORMA_USO" />
      <xs:element minOccurs="0" name="ID_ADV" type="xs:int" />
      <xs:element minOccurs="0" name="ID_FOR" type="xs:int" />
      <xs:element minOccurs="0" name="ID_LAB" type="xs:int" />
      <xs:element minOccurs="0" name="ID_MED" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PRE" type="xs:int" />
      <xs:element minOccurs="0" name="ID_SIN" type="xs:int" />
      <xs:element minOccurs="0" name="LABORATORIO" nillable="true" type="tns:LABORATORIO" />
      <xs:element minOccurs="0" name="MEDICAMENTO_FARMACIA" nillable="true" type="tns:ArrayOfMEDICAMENTO_FARMACIA" />
      <xs:element minOccurs="0" name="NOM_MED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRESENTACION" nillable="true" type="tns:PRESENTACION" />
      <xs:element minOccurs="0" name="PROMOCION" nillable="true" type="tns:ArrayOfPROMOCION" />
      <xs:element minOccurs="0" name="SINTOMA" nillable="true" type="tns:SINTOMA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MEDICAMENTO" nillable="true" type="tns:MEDICAMENTO" />
  <xs:complexType name="ADVERTENCIA">
    <xs:sequence>
      <xs:element minOccurs="0" name="DES_ADV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_ADV" type="xs:int" />
      <xs:element minOccurs="0" name="MEDICAMENTO" nillable="true" type="tns:ArrayOfMEDICAMENTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ADVERTENCIA" nillable="true" type="tns:ADVERTENCIA" />
  <xs:complexType name="ArrayOfFAVORITO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FAVORITO" nillable="true" type="tns:FAVORITO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFAVORITO" nillable="true" type="tns:ArrayOfFAVORITO" />
  <xs:complexType name="FAVORITO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_FAV" type="xs:int" />
      <xs:element minOccurs="0" name="ID_MED" type="xs:int" />
      <xs:element minOccurs="0" name="ID_USU" type="xs:int" />
      <xs:element minOccurs="0" name="MEDICAMENTO" nillable="true" type="tns:MEDICAMENTO" />
      <xs:element minOccurs="0" name="USUARIO" nillable="true" type="tns:USUARIO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FAVORITO" nillable="true" type="tns:FAVORITO" />
  <xs:complexType name="USUARIO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CORREO_USU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAVORITO" nillable="true" type="tns:ArrayOfFAVORITO" />
      <xs:element minOccurs="0" name="ID_USU" type="xs:int" />
      <xs:element minOccurs="0" name="NOM_USU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASS_USU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERSONA" nillable="true" type="tns:ArrayOfPERSONA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USUARIO" nillable="true" type="tns:USUARIO" />
  <xs:complexType name="ArrayOfPERSONA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PERSONA" nillable="true" type="tns:PERSONA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPERSONA" nillable="true" type="tns:ArrayOfPERSONA" />
  <xs:complexType name="PERSONA">
    <xs:sequence>
      <xs:element minOccurs="0" name="APEM_PER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APEP_PER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FNAC_PER" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_USU" type="xs:int" />
      <xs:element minOccurs="0" name="NOM_PER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PER_ID" type="xs:int" />
      <xs:element minOccurs="0" name="USUARIO" nillable="true" type="tns:USUARIO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PERSONA" nillable="true" type="tns:PERSONA" />
  <xs:complexType name="FORMA_USO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DES_FOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_FOR" type="xs:int" />
      <xs:element minOccurs="0" name="MEDICAMENTO" nillable="true" type="tns:ArrayOfMEDICAMENTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FORMA_USO" nillable="true" type="tns:FORMA_USO" />
  <xs:complexType name="LABORATORIO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_LAB" type="xs:int" />
      <xs:element minOccurs="0" name="MEDICAMENTO" nillable="true" type="tns:ArrayOfMEDICAMENTO" />
      <xs:element minOccurs="0" name="NOM_LAB" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LABORATORIO" nillable="true" type="tns:LABORATORIO" />
  <xs:complexType name="ArrayOfMEDICAMENTO_FARMACIA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MEDICAMENTO_FARMACIA" nillable="true" type="tns:MEDICAMENTO_FARMACIA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMEDICAMENTO_FARMACIA" nillable="true" type="tns:ArrayOfMEDICAMENTO_FARMACIA" />
  <xs:complexType name="MEDICAMENTO_FARMACIA">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_FAR" type="xs:int" />
      <xs:element minOccurs="0" name="ID_MED" type="xs:int" />
      <xs:element minOccurs="0" name="MEDICAMENTO" nillable="true" type="tns:MEDICAMENTO" />
      <xs:element minOccurs="0" name="PRECIO" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MEDICAMENTO_FARMACIA" nillable="true" type="tns:MEDICAMENTO_FARMACIA" />
  <xs:complexType name="PRESENTACION">
    <xs:sequence>
      <xs:element minOccurs="0" name="DES_PRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_PRE" type="xs:int" />
      <xs:element minOccurs="0" name="MEDICAMENTO" nillable="true" type="tns:ArrayOfMEDICAMENTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PRESENTACION" nillable="true" type="tns:PRESENTACION" />
  <xs:complexType name="ArrayOfPROMOCION">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PROMOCION" nillable="true" type="tns:PROMOCION" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPROMOCION" nillable="true" type="tns:ArrayOfPROMOCION" />
  <xs:complexType name="PROMOCION">
    <xs:sequence>
      <xs:element minOccurs="0" name="DES_PRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_FAR" type="xs:int" />
      <xs:element minOccurs="0" name="ID_MED" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PRO" type="xs:int" />
      <xs:element minOccurs="0" name="MEDICAMENTO" nillable="true" type="tns:MEDICAMENTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PROMOCION" nillable="true" type="tns:PROMOCION" />
  <xs:complexType name="SINTOMA">
    <xs:sequence>
      <xs:element minOccurs="0" name="DES_SIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_SIN" type="xs:int" />
      <xs:element minOccurs="0" name="MEDICAMENTO" nillable="true" type="tns:ArrayOfMEDICAMENTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SINTOMA" nillable="true" type="tns:SINTOMA" />
</xs:schema>